:root {
  --white: #ffffff;
  --grey-accent: #ededed;
  --grey: #bfbebe;
  --black: #000000;
}

/* Global */

body {
  background-color: var(--grey-accent);
}

/* Header */

header {
  height: 60px;
  width: 100%;
  background-color: var(--white);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 35px;
}

header img {
  width: 200px;
  margin-right: 600px;
}
